<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", { title: "Store Details" }) %>
<body class="bg-gray-100 flex relative flex-col h-dvh w-screen max-w-screen lg:flex-row">
  <%- include("../partials/nav", { active: "stores" }) %>
  <main class="w-full  h-full relative flex flex-col items-start justify-start gap-5 lg:gap-8 overflow-x-hidden overflow-y-auto ">
    <section id="main-header" class="w-full bg-white h-fit flex flex-col items-start justify-start pt-5 lg:pt-8 ">
      <div class="container gap-4 lg:gap-5 px-4 md:px-8 h-fit flex flex-col ">
        <div id="breadcrumbs" class="flex items-center gap-2 h-fit">
          <a href="/" class="text-xs lg:text-sm text-gray-500 hover:text-gray-900">Home</a>
          <span class="text-xs lg:text-sm text-gray-500">&gt;</span>
          <span class="text-xs lg:text-sm text-gray-900 font-medium">Store Details</span>
        </div>
        <%- include("../partials/mainTitle", { title: store.name, subtitle: "Address: " + store.location + ".  Tel: " + store.phone + ".  Email: " + store.email }) %>
      </div>
    </section>

    <section id="productsList" class="w-full max-w-4xl h-fit flex flex-col items-start justify-start ">
      <div class="w-full h-fit flex flex-col px-4 md:px-8">
        <div id="productsTable" class="w-full h-fit flex flex-col items-start justify-start">
          <table class="w-full h-full flex relative flex-col bg-white rounded-lg overflow-auto border border-gray-200">
            <thead class="w-max min-w-full h-fit sticky top-0 z-20 bg-gray-200">
              <tr class="w-max min-w-full h-fit flex flex-row ">
                <th class="table-header text-sm text-gray-500 sticky left-0 z-[11] w-[10em] max-w-[10em]"> Name</th>
                <th class="table-header text-sm text-gray-500 w-[3em] max-w-[3em] text-center">Id</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-right">Price</th>
                <th class="table-header text-sm text-gray-500 w-[5em] max-w-[5em] text-right">Qty</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-left">Category</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-left">Supplier</th>
              </tr>
            </thead>
            <tbody class="w-max min-w-full h-full flex flex-col ">
              <% products.forEach(product => { %>
                  <tr class="table-row w-fit h-fit flex flex-row w-max min-w-full overflow-visible relative">
                  <td class="table-data text-sm text-gray-900 sticky left-0 z-10 w-[10em] max-w-[10em]">
                    <% if (product.image) { %>
                      <a href="/products/view/<%= product.id %>" class="w-full h-fit flex items-center justify-start gap-2">
                        <div class="w-6 h-6 object-cover rounded-full">
                          <img src="data:image/jpeg;base64,<%= product.image_base64 %>" alt="<%= product.name %>" class="w-full h-full object-cover">
                       </div>
                        <p class="text-sm flex text-gray-500">
                          <%= product.name %>
                        </p>
                      </a>
                    <% } else { %>
                      <a href="/products/view/<%= product.id %>" class="w-full h-fit flex items-center justify-start gap-2">
                        <div class="w-6 h-6 rounded-full bg-gray-50 flex items-center justify-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-image-fill text-gray-500" viewBox="0 0 16 16">
                            <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                          </svg>
                       </div>
                        <p class="text-sm flex text-gray-500">
                          <%= product.name %>
                        </p>
                      </a>
                    <% } %>
                  </td>
                  <td class="table-data text-sm text-gray-900 w-[3em] max-w-[3em] text-center"><%= `${product.id}` %></td>
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em] text-right"><%= `$ ${product.price}` %></td>
                  <td class="table-data text-sm text-gray-900 w-[5em] max-w-[5em] text-right"><%= product.quantity %></td>
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em]"><%= product.category %></td>
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em]"><%= product.supplier %></td>
                  </tr>
              <% }) %>
            </tbody>
            
          </table>
          
        </div>
      </div>
    </section>

    
  </main>

  <script src="/js/collectPassword.js"></script>
</body>
</html>