<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", { title: "Product Details " + product.name }) %>
<body class="bg-gray-100 flex relative flex-col h-dvh w-screen max-w-screen lg:flex-row">
  <%- include("partials/nav", { active: "products" }) %>
  <main class="w-full  h-full relative flex flex-col items-start justify-start gap-5 lg:gap-8 overflow-x-hidden overflow-y-auto ">
    <section id="main-header" class="w-full bg-white h-fit flex flex-col items-start justify-start pt-5 lg:pt-8 lg:sticky top-0 z-[60]">
      <div class="container gap-4 lg:gap-5 px-4 md:px-8 h-fit flex flex-col ">
        <div id="breadcrumbs" class="flex items-center gap-2 h-fit">
          <a href="/" class="text-xs lg:text-sm text-gray-500 hover:text-gray-900">Home</a>
          <span class="text-xs lg:text-sm text-gray-500">&gt;</span>
          <a href="/products" class="text-xs lg:text-sm text-gray-500 font-medium">Products</a>
          <span class="text-xs lg:text-sm text-gray-500">&gt;</span>
          <span class="text-xs lg:text-sm text-gray-900 font-medium"><%= product.name %></span>
        </div>
        <div class="w-full flex flex-row items-start justify-between">

          <%- include("partials/mainTitle", { title: product.name, subtitle: product.description }) %>
          <div class="w-fit h-fit flex flex-col items-start justify-start">
            <a href="/products/edit/<%= product.id %>" class="w-fit h-fit flex flex-nowrap gap-2 items-center justify-start text-indigo-500 hover:text-indigo-600 px-4 py-1 rounded-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75l1.83-1.83a.996.996 0 0 0 0-1.41z"/>
              </svg> 
              Edit
            </a>
          </div>
        </div>
      </div>
    </section>
    

    <section id="productsList" class="w-full max-w-4xl h-fit flex flex-col items-start justify-start ">
      <div class="w-full h-fit flex flex-col px-4 md:px-8">
        <!-- display product image -->
        <div class="w-full flex flex-row items-start justify-start">
          <div class="image-container w-1/2 aspect-[16/9] h-full flex flex-col items-start justify-start"> 
            <img src="<%= product.image ? `data:image/jpeg;base64,${product.image}` : '/images/image-fill.svg' %>" alt="<%= product.name %>" class="w-auto h-full  aspect-square object-cover border border-gray-300 rounded-md">
            <div class="w-full h-fit flex flex-col items-start justify-start">
              <p class="text-sm text-gray-500">
                <%= product.image ? `${product.name} Image` : "No image" %>
              </p>
            </div>
          </div>
          
        </div>
        <!-- display store inventory -->
        <div id="productsTable" class="w-full h-fit flex flex-col items-start justify-start">
            <!-- details info -->
            <div class="@container w-full h-full flex flex-col  overflow-auto py-4">
                <div class="content h-fit flex flex-col @[400px]:grid  @[400px]:grid-cols-2 gap-4 mb-4">
                    <label for="dateCreated" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Date created
                        <input type="text" id="dateCreated" value="<%= product.date_created.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>" readonly class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="productId" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product ID
                        <input type="text" id="productId" value="<%= product.id %>" readonly class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="productName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product Name
                        <input type="text" id="productName" readonly value="<%= product.name %>" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="productPrice" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Product Price
                        <input type="text" id="productPrice" readonly value="<%= product.price %>" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="quantity" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Quantity
                        <input type="text" id="quantity" readonly value="<%= product.quantity %>" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="categoryName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Category Name
                        <input type="text" id="categoryName" readonly value="<%= product.category %>" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="supplierName" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Supplier Name
                        <input type="text" id="supplierName" readonly value="<%= product.supplier %>" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="description" class="w-full h-fit flex flex-col items-start justify-start text-gray-700 col-span-2">Description
                        <!-- text area no resize -->
                        <textarea type="text" id="description" rows="4" readonly  class="w-full h-fit border resize-none border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-500 resize-none"><%= product.description %></textarea>
                    </label>
                </div>
                <div class="content h-fit flex flex-col @[400px]:grid  @[400px]:grid-cols-3 gap-4">

                    <label for="totalInventory" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Total Inventory
                        <input type="text" id="totalInventory" value="<%= product.quantity + storeInventory.reduce((acc, store) => acc + store.quantity, 0) %>" readonly class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <label for="inventory" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">Inventory
                        <input type="text" id="inventory" value="<%= product.quantity %>" readonly class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                    </label>
                    <% storeInventory.forEach((store) => { %> 
                      <div class="w-full h-fit flex flex-col items-start justify-start">
                        <label for="<%= store.store_name %>-inventory" class="w-full h-fit flex flex-col items-start justify-start text-gray-700">
                          <div class="w-full h-fit flex flex-row items-start justify-start">
                            <span class="text-gray-500">Store:</span> <a href="/stores/view/<%= store.store_id %>" class="inline-block text-indigo-500 hover:text-indigo-600"><%= store.store_name %></a>
                          </div>
                          <input type="text" id="<%= store.store_name %>-inventory" readonly value="<%= store.quantity %>" class="w-full h-fit border border-gray-300 rounded-md px-[0.875em] py-[0.625em] text-gray-700">
                      </label>
                    </div>
                    <% }) %>
                    
                </div>
            </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include("partials/footer") %>
  </main>


  <script src="/js/filter.js"></script>
</body>
</html>