<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", { title: "Products" }) %>
<body class="bg-gray-100 flex relative flex-col h-dvh w-screen max-w-screen lg:flex-row">
  <%- include("partials/nav", { active: "products" }) %>
  <main class="w-full  h-full relative flex flex-col items-start justify-start gap-5 lg:gap-8 overflow-x-hidden overflow-y-auto ">
    <section id="main-header" class="w-full bg-white h-fit flex flex-col items-start justify-start pt-5 lg:pt-8 lg:sticky top-0 z-[60]">
      <div class="container gap-4 lg:gap-5 px-4 md:px-8 h-fit flex flex-col ">
        <div id="breadcrumbs" class="flex items-center gap-2 h-fit">
          <a href="/" class="text-xs lg:text-sm text-gray-500 hover:text-gray-900">Home</a>
          <span class="text-xs lg:text-sm text-gray-500">&gt;</span>
          <span class="text-xs lg:text-sm text-gray-900 font-medium">Products</span>
        </div>
        <%- include("partials/mainTitle", { title: "Products", subtitle: "Manage your products here" }) %>
      </div>
    </section>
    <section id="filters" class="w-full max-w-4xl h-fit flex flex-col items-start justify-start">
      <div class="w-full h-fit flex flex-col px-4 md:px-8 gap-3">
         <!-- filter and add product button -->
         <div id="filterAndAddProduct" class="w-full h-fit flex items-center justify-between">
          
          <!-- filter AND clear button -->
          <div id="filterAndClear" class="flex items-center justify-center gap-3">
              <button id="filterButton" class="text-gray-500 flex items-center justify-center gap-2  text-sm text-nowrap hover:text-indigo-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                 <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                </svg>
              Filter
            </button>
            <a href="/products" id="clearButton" class="<%= query.search || query.category || query.supplier ? 'flex' : 'hidden' %>  lg:flex text-gray-500 flex items-center justify-center gap-2  text-sm text-nowrap hover:text-red-500">
              Clear
            </a>
          </div>  

          <!-- add product button -->
          <a href="/products/new" class="bg-indigo-500 text-white px-3 py-2 rounded-lg border flex border-gray-200 text-sm text-nowrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
             <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
           </svg>
           New Product
         </a>
        </div>

        <!-- filters bar -->
        <div id="filtersBar" class="hidden bg-white w-full h-fit flex items-end justify-start border border-gray-200 p-4 md:p-6 rounded-lg gap-3">
         
          <form action="/products" onchange="this.submit()" method="get" class="actions flex items-center gap-3 w-full">
            <div id="filtersSearch" class="w-full h-fit flex flex-col items-start justify-start">
              <label for="search" class="text-sm text-gray-500 mb-1">Search</label>
              <input type="search" id="search" class="w-full h-fit border border-gray-200 p-2 rounded-lg" placeholder="Search products" name="search" <%= query.search ? `value=${query.search}` : '' %>>
            </div>
            <div id="filtersCategory" class="w-full h-fit flex flex-col items-start justify-start">
              <label for="category" class="text-sm text-gray-500 mb-1">Category</label>
                <select id="category"  class="w-full h-fit border border-gray-200 p-2 rounded-lg" name="category">
                <option <% if (!query.category) { %>selected<% } %> value="">All</option>
                <% categories.forEach(category => { %>
                  <option <% if (query.category == category.id) { %>selected<% } %> value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
              </select>
            </div>
            <div id="filtersSupplier" class="w-full h-fit flex flex-col items-start justify-start">
              <label for="supplier" class="text-sm text-gray-500 mb-1">Supplier</label>
              <select id="supplier" class="w-full h-fit border border-gray-200 p-2 rounded-lg" name="supplier">
                <option <% if (!query.supplier) { %>selected<% } %> value="">All</option>
                <% suppliers.forEach(supplier => { %>
                  <option <% if (query.supplier == supplier.id) { %>selected<% } %> value="<%= supplier.id %>"><%= supplier.name %></option>
                <% }) %>
              </select>
            </div>
            
          </form>

        </div>
       
      </div>
    </section>

    <section id="productsList" class="w-full max-w-4xl h-fit flex flex-col items-start justify-start ">
      <div class="w-full h-fit flex flex-col px-4 md:px-8">
        <div id="productsTable" class="w-full h-fit flex flex-col items-start justify-start">
          <table class="w-full h-full flex relative flex-col bg-white rounded-lg overflow-x-scroll border border-gray-200">
            <thead class="w-max min-w-full h-fit sticky top-0 z-20 bg-gray-200">
              <tr class="w-max min-w-full h-fit flex flex-row ">
                <th class="table-header text-sm text-gray-500 sticky left-0 z-[11] w-[10em] max-w-[10em]"> Name</th>
                <th class="table-header text-sm text-gray-500 w-[3em] max-w-[3em] text-center">Id</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-right">Price</th>
                <th class="table-header text-sm text-gray-500 w-[5em] max-w-[5em] text-right">Qty</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-left">Category</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-left">Supplier</th>
                <th class="table-header text-sm text-gray-500 w-[10em] max-w-[10em] text-left">Created on</th>
                <th class="table-header text-sm text-gray-500  w-[10em] max-w-[10em] text-center">Actions</th>
              </tr>
            </thead>
            <tbody class="w-max min-w-full h-full flex flex-col ">
              <% products.forEach(product => { %>
                  <tr class="table-row w-fit h-fit flex flex-row w-max min-w-full overflow-visible relative">
                  <td class="table-data text-sm text-gray-900 sticky left-0 z-10 w-[10em] max-w-[10em]">
                    <% if (product.image) { %>
                      <a href="/products/view/<%= product.id %>" class="w-full h-fit flex items-center justify-start gap-2">
                        <div class="w-6 h-6 object-cover rounded-full">
                          <img src="data:image/jpeg;base64,<%= product.image_base64 %>" alt="<%= product.name %>" class="w-full h-full object-cover">
                       </div>
                        <p class="text-sm flex text-gray-900">
                          <%= product.name %>
                        </p>
                      </a>
                    <% } else { %>
                      <a href="/products/view/<%= product.id %>" class="w-full h-fit flex items-center justify-start gap-2">
                        <div class="w-6 h-6 rounded-full bg-gray-50 flex items-center justify-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-image-fill text-gray-500" viewBox="0 0 16 16">
                            <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                          </svg>
                       </div>
                        <p class="text-sm flex text-gray-900">
                          <%= product.name %>
                        </p>
                      </a>
                    <% } %>
                  </td>
                  <td class="table-data text-sm text-gray-900 w-[3em] max-w-[3em] text-center"><%= `${product.id}` %></td>
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em] text-right"><%= `$ ${product.price}` %></td>
                  <td class="table-data text-sm text-gray-900 w-[5em] max-w-[5em] text-right"><%= product.quantity %></td>
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em]"><%= product.category %></td>
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em]"><%= product.supplier %></td>
                  <!-- date created  dd/mm/yy example 07/12/24 -->
                   <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em]"><%= new Date(product.date_created).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: '2-digit' })  %></td>
                  <!-- edit and delete buttons -->
                  <td class="table-data text-sm text-gray-900 w-[10em] max-w-[10em] gap-2  right-0 ">
                    <div class=" w-fit h-fit flex items-center justify-center gap-3">
                        <!-- view button -->
                      <a href="/products/view/<%= product.id %>" class="text-indigo-500 flex w-fit items-center justify-center gap-1 hover:text-indigo-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                      </a>
                      <!-- edit button -->
                      <a href="/products/edit/<%= product.id %>" class="text-gray-500 flex w-fit items-center justify-center gap-1 hover:text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg>
                      </a>
                      <!-- delete button -->
                      <form action="/products/delete/<%= product.id %>" method="post" class="text-red-500 flex w-fit items-center justify-center gap-1 hover:text-red-600">
                        <input type="hidden" id="deletePassword<%= product.id %>" name="deletePassword">
                        <button type="submit" onclick="return collectPassword(event, 'deletePassword<%= product.id %>')" id="deleteButton<%= product.id %>" class="text-red-500 flex w-fit items-center justify-center gap-1 hover:text-red-600">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                        </button>
                      </form>
                    </div>

                      <!-- add vertical dots for more actions -->
                    <div id="moreActions" class="hidden w-fit h-fit flex flex-col items-start justify-start gap-1 ml-auto relative ">
                      <button id="moreActionsButton" class="text-gray-500 flex w-fit items-center justify-center gap-1 hover:text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                          <path d="M9.5 13a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                      </button>
                    </div>
                  </td>
                  </tr>
              <% }) %>
            </tbody>
            
          </table>
          <div id="pagination" class="w-full h-fit flex items-center justify-center gap-2 p-4">
            <div class="w-full h-fit flex flex-row items-center justify-center gap-2 ">
              <div class="w-fit h-fit flex items-center justify-center gap-1">
                <button id="prevPage"  class="text-gray-500 flex items-center justify-center gap-1 hover:text-gray-900 w-fit h-fit p-2 rounded-lg" <% if (currentPage == 1) { %>disabled<% } %> onclick="window.location.href='/products?page=<%= parseInt(currentPage) - 1 %>'">Prev</button>
              </div>
              <div class="w-fit h-fit flex items-center justify-center gap-1">
                <span id="currentPage" class="text-gray-500 flex items-center justify-center gap-1"><%= currentPage %></span>
              </div>
              <div class="w-fit h-fit flex items-center justify-center gap-1">
                <span id="totalPages" class="text-gray-500 flex items-center justify-center gap-1">/ <%= totalPages %></span>
              </div>
              <div class="w-fit h-fit flex items-center justify-center gap-1">
                <button id="nextPage" class="text-gray-500 flex items-center justify-center gap-1 hover:text-gray-900 w-fit h-fit p-2 rounded-lg"  <% if (currentPage == totalPages) { %>disabled<% } %> onclick="window.location.href='/products?page=<%= parseInt(currentPage) + 1 %>'">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  </main>
  <!-- details modal -->
   <%- include("partials/detailsModal") %>

  <script src="/js/filter.js"></script>
  <script src="/js/collectPassword.js"></script>
</body>
</html>